- except ||= []
.affix-action-bar-parent{class: "span#{span}"}
  .affix-action-bar
    = link_to t('.compare_original'), compare_modification_path(@modification), :class => 'btn btn-block' if !except.include?(:compare) and @modification.original and can? :read, @modification.original
    = link_to t('.show'), expanded_modification_path(@modification), :class => 'btn btn-block' if !except.include?(:show) and can? :read, @modification
    = link_to t('.edit'), edit_modification_path(@modification), :class => 'btn btn-block' if can? :update, @modification
    = link_to t('.new_modification'), new_modification_path(original_id: @modification.id), :class => 'btn btn-block'
    = link_to t('.show_original'), expanded_modification_path(@modification.original), :class => 'btn btn-block' if @modification.original and can? :read, @modification.original
    = link_to t('.destroy'), modification_path(@modification), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger btn-block' if can? :destroy, @modification
    - modifications = ::Text.where(slug: @modification.repository.slug).includes(:modifications).map(&:modifications).flatten(1) - [@modification]
    - if modifications.any?
      %h3= t(".modifications")
      %ul
        - modifications.each do |modification|
          %li
            = link_to_modification(modification)
            = "(#{link_to_user(modification.repository.user)})".html_safe
