= bootstrap_form_for @modification, :html => { :class => 'form-horizontal' } do |f|
  = f.number_field :user_id
  = f.number_field :original_id
  = f.text_field :title
  = f.text_area :motivations
  = f.text_area :text
  
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary'
    = link_to t('.cancel'), modifications_path, :class => 'btn'
