- content_for(:title, t(".title", name: @modification.id))
- add_crumb @modification.user.display_name, user_path(@modification.user)
- add_crumb @modification.repository.title, expanded_text_path(@modification.repository)
- add_crumb @modification.title

.row
  .span2.affix-action-bar-parent
    .affix-action-bar
      = link_to t('.show_original'), expanded_modification_path(@modification.original), :class => 'btn btn-block' if can? :read, @modification.original
      = link_to t('.edit'), edit_modification_path(@modification), :class => 'btn btn-block' if can? :update, @modification
      = link_to t('.destroy'), modification_path(@modification), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger btn-block' if can? :destroy, @modification
      
  .span10
    .row
      .span5
        %h2= t(".original_text")
      .span5
        %h2= t(".modified_text")
    .text-diff
      - diff_lines(@modification.original.text, @modification.text).each do |kind, lines|
        .diff-group{class: kind}
          .row.line-count
            .span10= t(".line_count", count: lines.count)
          .lines
            - lines.each do |old, new|
              .row
                .span5
                  %p!= old
                .span5
                  %p!= new
