- content_for(:title, t(".title", name: @modification.id))
- add_crumb @modification.original.title, @modification.original
- add_crumb @modification.title

.row
  .span2.affix-action-bar-parent
    .affix-action-bar
      = link_to t('.edit'), edit_modification_path(@modification), :class => 'btn' if can? :update, @modification
      = link_to t('.destroy'), modification_path(@modification), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @modification
      
  .span10
    .row
      .span5
        %h2= t(".original_text")
      .span5
        %h2= t(".modified_text")
    - dmp = DiffMatchPatch.new
    - diffs = dmp.diff_main(@modification.original.text.gsub(/\r\n|\r|\n/, "\n"), @modification.text.gsub(/\r\n|\r|\n/, "\n"))
    - dmp.diff_cleanupSemanticLossless(diffs)
    - old_text = []
    - new_text = []
    - diffs.each do |state, text|
      - case state
        - when :delete
          - text.split(/\n/, -1).each do |line|
            - old_text << "<strong>#{h line}</strong>"
            - new_text << ""
        - when :insert
          - text.split(/\n/, -1).each do |line|
            - new_text << "<strong>#{h line}</strong>"
            - old_text << ""
        - when :equal
          - text.split(/\n/, -1).each do |line|
            - old_text << "#{h line}"
            - new_text << "#{h line}"
    - lines = old_text.zip(new_text)
    - lines.each do |old, new|
      .row
        .span5
          %p!= old
        .span5
          %p!= new
