- content_for(:title, t(".title", name: @modification.id))
- add_crumb @modification.original.title, @modification.original
- add_crumb @modification.title

.row
  .span2.affix-action-bar-parent
    .affix-action-bar
      = link_to t('.edit'), edit_modification_path(@modification), :class => 'btn' if can? :update, @modification
      = link_to t('.destroy'), modification_path(@modification), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @modification
      
  .span10
    .row
      .span5
        %h2= t(".original_text")
      .span5
        %h2= t(".modified_text")
    - diff_lines(@modification.original.text, @modification.text).each do |old, new|
      .row
        .span5
          %p!= old
        .span5
          %p!= new
