- content_for(:title, t(".title", name: @constitution.id))
- add_crumb(@constitution.user.display_name, @constitution.user) if @constitution.user
- add_crumb(@constitution.title, @constitution)
- add_crumb content_for(:title)

.row
  .span12
    -
    - dmp = DiffMatchPatch.new
    - diffs = dmp.diff_main(@constitution.base.text, @constitution.text)
    - dmp.diff_cleanupSemanticLossless(diffs)
    - old_text = ""
    - new_text = ""
    - diffs.each do |state, text|
      - case state
        - when :delete
          - old_text << text.split(/\n/, -1).map { |x| "<strong>#{h x}</strong>" }.join("\n")
          - new_text << "\n" * text.count("\n")
        - when :insert
          - new_text << text.split(/\n/, -1).map { |x| "<strong>#{h x}</strong>" }.join("\n")
          - old_text << "\n" * text.count("\n")
        - when :equal
          - old_text << "#{h text}"
          - new_text << "#{h text}"
    - lines = [old_text, new_text].map { |x| x.split(/\n/) }
    - lines = lines.first.zip(lines.last)
    - lines.each do |old, new|
      .row
        .span6
          %p!= old
        .span6
          %p!= new

    .form-actions
      = link_to t('.back'), constitutions_path, :class => 'btn'
      = link_to t('.new_version'), new_constitution_path(base_id: @constitution.id), :class => 'btn btn-primary'
      = link_to t('.compare_with_base'), compare_with_base_constitution_path(@constitution.id), :class => 'btn btn-primary'
      = link_to t('.edit'), edit_constitution_path(@constitution), :class => 'btn' if can? :update, @constitution
      = link_to t('.destroy'), constitution_path(@constitution), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @constitution
