- content_for(:title, t(".title", name: @constitution.id))
- add_crumb(@constitution.user.display_name, @constitution.user) if @constitution.user
- add_crumb(@constitution.title, @constitution)
- add_crumb content_for(:title)

.row
  .span12
    %dl.dl-horizontal
      %dt= @constitution.class.human_attribute_name(:title)
      %dd= @constitution.title
    %dl.dl-horizontal
      %dt= @constitution.class.human_attribute_name(:text)
      %dd!= Diffy::Diff.new(@constitution.base.text, @constitution.text).to_s(:html)

    .form-actions
      = link_to t('.back'), constitutions_path, :class => 'btn'
      = link_to t('.new_version'), new_constitution_path(base_id: @constitution.id), :class => 'btn btn-primary'
      = link_to t('.compare_with_base'), compare_with_base_constitution_path(@constitution.id), :class => 'btn btn-primary'
      = link_to t('.edit'), edit_constitution_path(@constitution), :class => 'btn' if can? :update, @constitution
      = link_to t('.destroy'), constitution_path(@constitution), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @constitution
