- content_for :title, t('.title')

.row
  .span12
    - if @constitutions.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Constitution.human_attribute_name(:title)
            %th= Constitution.human_attribute_name(:text)
            %th= t('.actions')
        %tbody
          - @constitutions.each do |constitution|
            %tr
              %td= constitution.title
              %td= constitution.text
              %td
                = link_to t('.show'), constitution_path(constitution), :class => 'btn btn-mini'
                = link_to t('.edit'), edit_constitution_path(constitution), :class => 'btn btn-mini' if can? :update, constitution
                = link_to t('.destroy'), constitution_path(constitution), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-mini btn-danger' if can? :destroy, constitution

    = link_to t('.new'), new_constitution_path, :class => 'btn btn-primary' if can? :create, ::Constitution
