= bootstrap_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.text_field :email
  = f.text_field :encrypted_password
  = f.text_field :reset_password_token
  = f.datetime_select :reset_password_sent_at
  = f.datetime_select :remember_created_at
  = f.number_field :sign_in_count
  = f.datetime_select :current_sign_in_at
  = f.datetime_select :last_sign_in_at
  = f.text_field :current_sign_in_ip
  = f.text_field :last_sign_in_ip
  
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary'
    = link_to t('.cancel'), users_path, :class => 'btn'
