- content_for :title, t('.title')

.row
  .span12
    - if @users
      %table.table.table-striped
        %thead
          %tr
            %th= User.human_attribute_name(:name)
            %th= t('.actions')
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td
                = link_to t('.show'), user_path(user), :class => 'btn btn-mini'
                = link_to t('.edit'), edit_user_path(user), :class => 'btn btn-mini' if can? :update, user
                = link_to t('.destroy'), user_path(user), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-mini btn-danger' if can? :destroy, user
    - else
      %p.alert.alert-warning= t(".none")
    = link_to t('.new'), new_user_path, :class => 'btn btn-primary' if can? :create, ::User
