- content_for(:title, t(".title", name: @user.id))
- add_crumb content_for(:title)

.row
  .span12
    %dl.dl-horizontal
      %dt= @user.class.human_attribute_name(:name)
      %dd= @user.name
    %dl.dl-horizontal
      %dt= @user.class.human_attribute_name(:texts)
      %dd
        %ul
          - @user.texts.each do |text|
            %li= link_to text.title, text
    

    .form-actions
      = link_to t('.back'), users_path, :class => 'btn'
      = link_to t('.edit'), edit_user_path(@user), :class => 'btn' if can? :update, @user
      = link_to t('.destroy'), user_path(@user), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @user
