- content_for :title, t('.title')

.row
  .span12
    - if @texts.blank?
      %p.alert.alert-notice= t(".empty")
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= ::Text.human_attribute_name(:user)
            %th= ::Text.human_attribute_name(:title)
            %th= t('.actions')
        %tbody
          - @texts.each do |text|
            %tr
              %td= link_to_user text.user
              %td= link_to_text text, without_user: true
              %td
                = link_to t('.show'), text_path(text), :class => 'btn btn-mini'
                = link_to t('.edit'), edit_text_path(text), :class => 'btn btn-mini' if can? :update, text
                = link_to t('.destroy'), text_path(text), :method => :delete, :confirm => t('.confirm'), :class => 'btn btn-mini btn-danger' if can? :destroy, text

    = link_to t('.new'), new_text_path, :class => 'btn btn-primary' if can? :create, ::Text
