- if @base
  - content_for(:title, t(".title_with_base", base_name: @base.title))
- else
  - content_for(:title, t(".title"))
- add_crumb current_user.display_name, current_user
- add_crumb content_for(:title)

.row
  .span12
    = bootstrap_form_for @text, :html => { :class => 'form-horizontal' } do |f|
      = f.text_field :title, class: 'input-block-level'
      = f.text_field :slug, class: 'input-block-level'
      = f.fields_for :modifications, Modification.new do |fields|
        = fields.text_area :description, class: 'input-block-level', rows: 3
        = fields.text_area :text, class: 'input-block-level', rows: 10, label: t(".modification_text")
      
      .form-actions
        = f.submit t('.submit'), :class => 'btn btn-primary'
        = link_to t('.cancel'), texts_path, :class => 'btn'
