- content_for(:title, t(".title", name: @text.title))
- add_crumb(@text.user.display_name, @text.user) if @text.user
- add_crumb content_for(:title)

.row
  .span3.affix-action-bar-parent
    .affix-action-bar
      - if @text.master
        = link_to t('.new_modification'), new_modification_path(original_id: @text.master.id), :class => 'btn btn-primary btn-block'
      = link_to t('.edit'), edit_text_path(@text), :class => 'btn btn-block' if can? :update, @text
      = link_to t('.destroy'), text_path(@text), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger btn-block' if can? :destroy, @text
      - modifications = ::Text.where(slug: @text.slug).includes(:modifications).map(&:modifications).flatten(1) - [@text.master]
      - if modifications.any?
        %h3= t(".modifications")
        %ul
          - modifications.each do |modification|
            %li
              = link_to_modification(modification)
              = "(#{link_to_user(modification.repository.user)})".html_safe
      
  .span9
    %h1= @text.title
    .text-text
      - if @text.master
        - @text.master.text.split(/\n/).each do |line|
          - case line
            - when /^Préambule/
              %h3.preamble= line
            - when /^Titre /
              %h2.title= line
            - when /^Article /
              %h3.article= line
            - when /^- /
              %p.list-item= line
            - else
              %p.paragraph= line

