- content_for(:title, t(".title", name: @text.title))
- add_crumb(@text.user.display_name, @text.user) if @text.user
- add_crumb content_for(:title)

.row
  .span3.affix-action-bar-parent
    .affix-action-bar
      = link_to t('.new_modification'), new_modification_path(original_id: @text), :class => 'btn btn-primary btn-block'
      = link_to t('.edit'), edit_text_path(@text), :class => 'btn btn-block' if can? :update, @text
      = link_to t('.destroy'), text_path(@text), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger btn-block' if can? :destroy, @text
      %h3= t(".children")
      %ul
        - @text.children.each do |text|
          %li= link_to_text(text, compare_with_base_text_path(text))
      
  .span9
    %h1= @text.title
    .text-text
      - @text.text.split(/\n/).each do |line|
        - case line
          - when /^Préambule/
            %h3.preamble= line
          - when /^Titre /
            %h2.title= line
          - when /^Article /
            %h3.article= line
          - when /^- /
            %p.list-item= line
          - else
            %p.paragraph= line

