- content_for(:title, t(".title", name: @law_text.id))
- add_crumb content_for(:title)

.row
  .span12
    %dl.dl-horizontal
      %dt= @law_text.class.human_attribute_name(:title)
      %dd= @law_text.title
    %dl.dl-horizontal
      %dt= @law_text.class.human_attribute_name(:text)
      %dd= @law_text.text

    .form-actions
      = link_to t('.back'), law_texts_path, :class => 'btn'
      = link_to t('.edit'), edit_law_text_path(@law_text), :class => 'btn' if can? :update, @law_text
      = link_to t('.destroy'), law_text_path(@law_text), :method => "delete", :confirm => t('.confirm'), :class => 'btn btn-danger' if can? :destroy, @law_text
