!!!
%html{lang: I18n.locale}
  %head
    %title= t("app")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar
        .navbar-inner
          %a.brand{href: root_path}= t("app")
          %ul.nav
            %li.active
              %a{href: root_path} Home

      = yield
    = javascript_include_tag "application"
