!!!
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? "#{content_for(:title)} - #{t("app")}".html_safe : t("app")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{href: root_path}= t("app")
          %ul.nav
            %li{class: params[:controller] == "home" ? "active" : ""}
              %a{href: root_path}= t("navigation.home")
            - if can? :read, User
              %li{class: params[:controller] == "users" ? "active" : ""}
                %a{href: users_path}= t("navigation.users")
              
          %ul.nav.pull-right
            - if current_user
              %li
                = link_to t("navigation.edit_registration"), edit_user_registration_path
              %li
                = link_to t("navigation.log_out"), destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to t("navigation.log_in"), new_user_session_path

      - render_crumbs do |crumbs|
        %ul.breadcrumb
          - crumbs.each_with_index do |crumb, index|
            - if index < crumbs.size - 1
              %li
                = link_to *crumb
                %span.divider /
            - else
              %li.active= crumb[0]

      - flash.each do |kind, value|
        .alert{class: "alert-#{kind}"}
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          = value
          
      = yield
    = javascript_include_tag "application"
